*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(109, 105, 105);
}
.container{
    position: relative;
    left: 289px;
    bottom: 2px;
}
.body{
    width: 130px;
    height: 200px;
    align-items: center;
    margin: 100px auto;
    border-radius: 65px;
    background-color: rgb(247, 192, 51);
}
.eye1{
    border: 6px solid silver;
    width: 65px;
    height: 65px;
    background-color: #faf6f6;
    border-radius: 65px;
    position: relative;
    left: 289px;
    bottom: 278px;
}
.eye2{
    border: 6px solid silver;
    width: 65px;
    height: 65px;
    background-color: #fff;
    border-radius: 65px;
    position: relative;
    left: 348px;
    bottom: 343px;
}
.eye3{
    border: 5px solid orange;
    width: 20px;
    height: 20px;
    background-color: #100f0f;
    border-radius: 65px;
    position: relative;
    left: 318px;
    bottom: 380px;
}
.eye4{
    border: 5px solid orange;
    width: 20px;
    height: 20px;
    background-color: #100f0f;
    border-radius: 65px;
    position: relative;
    left: 363px;
    bottom: 400px;
}

.mouth{
    border: 1px solid black;
    width: 40px;
    height: 1px;
    background-color: #f8f5f5;
    position: relative;
    left: 330px;
    bottom: 370px;
}
.shirt{
    border: 1px dashed;
    width: 125px;
    height: 49px;
    background-color: #058cf4;
    border-radius: 0px 0px 90px 90px;
    position: relative;
    left: 289px;
    bottom: 319px;
}
.shirt2{
    width: 80px;
    height: 49px;
    background-color: #058cf4;
    position: relative;
    left: 311px;
    bottom: 399px;
    border: 1px dashed;
    border-radius: 0px 0px 10px 10px;
}
.shirt3{
    transform: rotate(145deg);
    width: 33px;
    height: 7px;
    background-color: #058cf4;
    position: relative;
    left: 386px;
    bottom: 455px;
    border: 1px dashed;
}
.shirt4{
    transform: rotate(35deg);
    width: 33px;
    height: 7px;
    background-color: #058cf4;
    position: relative;
    left: 283px;
    bottom: 462px;
    border: 1px dashed;
}

.logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0c0d0d;
    position: relative;
    left: 334px;
    bottom: 447px;
    color: #058cf4;
    z-index: 2;
}
.logo2{
    width: 17px;
    height: 17px;
    transform: rotate(45deg);
    background-color: #058cf4;
    position: relative;
    left: 340px;
    bottom: 470px;
    z-index: 3;
}
.button1{
    width: 7px;
    height: 7px;
    background-color: #040404;
    border-radius: 65px;
    position: relative;
    left: 313px;
    bottom: 506px;
}
.button2{
    width: 7px;
    height: 7px;
    background-color: #040404;
    border-radius: 65px;
    position: relative;
    left: 382px;
    bottom: 513px;
}
.button3{
    width: 11px;
    height: 11px;
    background-color: #040404;
    border-radius: 65px;
    position: relative;
    left: 343px;
    bottom: 498px;
    z-index: 4;
}
.pocket{
    border: 0.5px solid;
    border-radius: 0px 0px 10px 10px;
    width: 62px;
    height: 34px;
    background-color: #058cf4;
    position: relative;
    bottom: 522px;
    left: 320px;
    z-index: 1;
}
.logo3{
    width: 8px;
    height: 4px;
    position: relative;
    left: 642px;
    bottom: 542px;
    background-color: #040303;
    z-index: 5;
}
.foot1{
    width: 20px;
    height: 20px;
    background-color: #058cf4;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    left: 605px;
    bottom: 500px;
}
.foot2{
    width: 20px;
    height: 20px;
    background-color: #058cf4;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    left: 657px;
    bottom: 520px;
}
.foot3{
    width: 28px;
    height: 20px;
    background-color: #0d0d0e;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    left: 653px;
    bottom: 528px;
}
.foot4{
    width: 28px;
    height: 20px;
    background-color: #0d0d0e;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    left: 601px;
    bottom: 548px;
}

.minnion2{
    position: relative;
    left: 140px;
    bottom: 840px;

}
.minnion3{
    position: relative;
    left: -140px;
    bottom: 1715px;
    
    transform: rotate3d(45deg);
}
